body {
  font-family: Microsoft YaHei;
}

html, body, p, ul, li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  &:link {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.text-align-left {
  text-align: left
}

.text-align-center {
  text-align: center
}

.text-align-right {
  text-align: right;
}

.single-line-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-160 {
  width: 160px;
}

.w-150 {
  width: 150px;
}

.w-140 {
  width: 140px;
}

.order-card {
  .el-card__body {
    padding: 0;
  }
  .card-header {
    text-align: center;
    span {
      color: #409EFF;
      font-size: 24px;
      margin: 0;
    }
  }
  .card-body {
    padding: 20px;
  }
  .card-btn {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #dcdfe6;

    .total-container {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      .total-label {
        color: black;    
      }
      .total-value {
        color: red; 
      }
      &:not(:first-child) {
        margin-left: 40px;
      }
    }
  }
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  padding: 0 20px;
  height: 49px;
  width: 100%;
  line-height: 47px;
  border-top: 1px solid #dcdfe6;
  margin-left: -20px;
  transition: left 0.2s;
  background-color: #FFF;
  z-index: 300;
  box-shadow: 0px -2px 12px 0 rgba(0,0,0,.1);
}

.classification-card {
  width: 100%;
  height: 100%;
  .header {
    font-size: 14px;
    height: 33px;
    line-height: 33px;
  }
  .el-card__header {
    padding: 3px 12px;
  }
  .el-tree-node__label {
    font-size: 12px;
  }
  .el-card__body {
    padding: 10px 10px;
  }
}

// 自定义滚动条（chrome）
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(144,147,153,.3)
}

.verify-text-color {
  color: #3a8ee6;
}

.no-verify-text-color {
  color: #f56c6c;
}
