// 重写element-ui样式
.tooltip-popper {
  border-color: #d9d9d9 !important;
  padding: 0;
}

.popper__arrow {
  border-bottom-color: #d9d9d9 !important;
}

.el-card, .el-card__header {
  border-color: #dcdfe6;
}

// .el-tabs__nav-wrap::after {
//   background-color: #dcdfe6;
// }

.el-card__header {
  padding: 10px 20px;
}

.el-dialog__header, .el-dialog__body, .el-dialog__footer {
  padding: 10px 15px;
}

.el-dialog__header {
  font-weight: 700;
}

.el-dialog__headerbtn {
  top: 15px;
}

.el-dialog__header {
  border-bottom: 1px solid #dcdfe6;
}

.el-dialog__footer {
  border-top: 1px solid #dcdfe6;
}

.el-form-item:last-child {
  margin-right: 0;
}

.el-tree__empty-text {
  font-size: 13px;
  color: grey;
}

.el-message-box {
  vertical-align: top;
  margin-top: 15vh;
}

.el-table .el-table__header thead th {
  background-color: #F5F7F7;
}

.text-align-right .el-form-item {
  margin-right: 0;
  margin-left: 10px;
}

.text-align-right .el-form-item:first-child {
  margin-left: 0;
}

// 重写ag-grid样式
$border-color: #dcdfe6;
// $cell-heigit: 40px;

.ag-theme-balham .ag-root, .ag-theme-balham .ag-header, .ag-theme-balham .ag-row {
  border-color: $border-color;
}

.ag-theme-balham .ag-header {
  color: #58666e;
}

.ag-theme-balham .ag-body-viewport .ag-cell, .ag-theme-balham .ag-pinned-left-cols-viewport-wrapper .ag-cell {
  color: #000;
}

.ag-theme-balham .ag-pinned-right-cols-viewport .ag-cell {
  border-left: none;
}

.ag-theme-balham .ag-ltr .ag-cell-focus, .ag-theme-balham .ag-ltr .ag-cell-no-focus {
  border-color: transparent;
}

.ag-grid-header-custom {
  font-size: 13px;
  width: 100%;
  height: 100%;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
  padding-left: 6px;
  padding-right: 6px;
}

.ag-theme-balham .ag-header-cell-resize::after, .ag-pinned-left-header .ag-header-cell::after {
  height: 100%;
  border-color: $border-color;
  margin-top: 0;
}

.ag-theme-balham .ag-body-viewport .ag-cell, .ag-theme-balham .ag-pinned-left-cols-viewport-wrapper .ag-cell {
  border-right: 1px solid $border-color;
  // line-height: $cell-heigit - 1;
  padding-left: 5px;
  padding-right: 5px;
}

.ag-pinned-right-header, .ag-pinned-right-cols-container {
  border-left: 1px solid $border-color;
}

.ag-theme-balham .ag-header-row {
  border-bottom: none;
}

.ag-theme-balham .ag-body, .ag-theme-balham .ag-floating-bottom {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ag-theme-balham .ag-floating-bottom-viewport  {
  border-top: 1px solid $border-color;
  .ag-row {
    border-bottom: none;
    &:hover {
      background-color: transparent;
    }
  }
}

.ag-theme-balham .ag-floating-bottom-viewport .ag-cell {
  // line-height: $cell-heigit - 1;
  font-weight: 700;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after {
  border-right: none;
}

.ag-cell:focus {
  outline: none;
}

.ag-overlay {
  z-index: 999;

  .ag-overlay-loading-wrapper {
    pointer-events: auto;
  }
}

.loading-tips {
  display: inline-block;
  font-size: 13px;
  padding: 15px 40px;
  border: 1px $border-color solid;
  border-radius: 5px;
  background-color: #FFF;
  color: grey;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  i {
    font-size: 15px;
    margin-right: 10px;
  }
}

.nodate-tips {
  color: grey;
  font-size: 13px;
}
